@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


//Fonts
$font: "Inconsolata";
$font-big: 36px;
$font-medium: 24px;
$font-small: 18px;
$font-mini: 12px;


//Colors
$color-primary: #000000;
$color-title-sub: #b6b6b6;
$color-white: #fff;
$color-black: #000;
$color-purple: #e198ff;
$background: #F9F9FF;
$color-green: #08ee2d;

//Button 
$button-color: #9d00ff;
$button-hover: #9239c9;


//Cards
$card-blue: rgb(108, 108, 229);
$card-yellow: rgb(249, 215, 76);

//Line
$line: #353353;


//Shadow color
$shadow-dark: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
$shadow-blue: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
$shadow-yellow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
$shadow-purple: 0px 5px 20px 0px rgba(87, 67, 96, 0.1);