@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");


:root{
  --color-black: #000;
  --color-white: #fff;
  --color-body: #F0F0F0;
  --color-select-text: #d1d1d1;
  --color-hover: #373733;
}

body {
  font-family: "Inconsolata";
  background-color: var(--color-body);
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

h1 , h2 {
  font-size: 16px;
}

h3 {
  font-size: 36px;  
}

h4 {
  font-size: 28px;
}

section, footer {
  padding-top: 60px;
  position: relative;
}

hr {
  border: 0;
  height: 0;
  -webkit-box-shadow: 0 0 10px 1px var(--color-black);
  box-shadow: 0 0 10px 1px var(--color-black);
}

ul {
  list-style: none;
}

::selection {
  background-color: var(--color-select-text);
}

mark {
  background-color: var(--color-select-text);
}


.skip-link {
  height: 0;
  color: var(--color-body);
}

.skip-link:focus, 
.skip-link:active {
  background: var(--color-black);
  height: auto;
}

.logo {
  border-radius: 50%;
  margin-bottom: 20px;
}

.card {
  background: var(--color-white);
  border-radius: 20px;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.button {
  background-color: var(--color-black);
  color: var(--color-white);
  display: inline-block;
  border-radius: 0px;
  line-height: 1;
  vertical-align: middle;
  padding: 8px 20px;
  width: 100px;
  text-align: center;
  font-weight: 400;  
  -webkit-box-shadow: 0px 5px 20px 0px rgba(87, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(87, 67, 96, 0.1);
}

.button:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}


.item {
  min-height: 50px;
  position: relative;
  text-align: center;
  margin-top: 60px;
}

.item .inner {
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.item .inner i {
  font-size: 60px;
  cursor: pointer;
}

.footer-social {
  padding-left: 0;
  list-style: none;
  padding: 25px 0;
  margin: 0;
  text-align: center;
}

.footer-social li {
  display: inline-block;
  margin-right: 0.5rem;
}

.footer-social li a {
  color: var(--color-black);
}