@import 'variables';
@import 'responsive';

body {
    font-family: $font;
    background-color: $background;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 60px;
    position: relative;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}
ul{
    list-style: none;
}
::-webkit-scrollbar {
    height: auto;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(transparent, $color-white); */
    background: $color-white;
    border-radius: 0px;
}
::-webkit-scrollbar-track-piece{
    background: $color-primary;
}


// Styles Global

@font-face{
    font-family: Digiffiti;
    font-display: swap;
    src: url(../fonts/digiffiti.ttf);
}

svg{
    font-family: Digiffiti;
}
.section-title {
    font-size: $font-big;
    /*    margin: 0;
    margin-left: 14px;
    position: relative; */
    font-weight: 700;
    letter-spacing: 3px;

    .color-purple {
        color: $color-purple;
        font-weight: 700;
    }

    /*     &::before {
        content: "";
        background-image: url(https://pxltheme.com/html/bolby/demo/images/dots-bg.svg);
        display: block;
        height: 37px;
        width: 37px;
        left: -14px;
        top: -14px;
        position: absolute;
    } */

}

.space {
    height: 60px;
    clear: both;
}

.shadown-dark {
    box-shadow: $shadow-dark;
}

.padding-15 {
    padding: 15px;
}

.padding-30 {
    padding: 30px;
}

.rounded {
    border-radius: 20px !important;
}

.card {
    border: none;
}

.text-short {
    padding: 10px;
    display: block;
    width: 100%;
    font-weight: 400;
   /*  color: #5E5C7F; */
    /*     background-color: #ececec;
    border-left: 5px solid $color-primary; */
}

.btn-default {
    background-color: $button-color;
    color: $color-white;
    display: inline-block;
    border-radius: 0px;
    line-height: 1;
    vertical-align: middle;
    padding: 8px 20px;
    /*     font-weight: 900; */

    &:hover {
        background-color: $button-hover;
        color: $color-white;
        box-shadow: $shadow-purple;
    }
}

.header {
    background-color: $color-primary;
    padding: 2px 0;
    /* border-bottom: solid 1px rgba(255, 255, 255, 0.1); */

    li {
        padding-right: 15px;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 800;
    }

    .navbar {
        padding: 0;
    }
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.home {
    background: $color-primary;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    position: relative;

    /*     .align-items-center {
        align-items: center !important;
    } */

    .aboutme {
        min-width: 100%;
        text-align: center;
        position: absolute;
        top: 160px;
        left: 0px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;


        h1 {
            color: $color-white;
            font-size: $font-big;
            font-weight: 700;
        }


        .sub-title {
            color: $color-green;
            font-size: $font-small;

        }

        .effect-writting {
            border-right: solid 10px $color-green;
            white-space: nowrap;
            overflow: hidden;
            animation: animated-text 2s steps(29, end) 0.3s 1 normal both,
                animated-cursor 600ms steps(29, end) infinite;
        }

        /*--- Text Animated  ---*/
        @keyframes animated-text {
            from {
                width: 0;
            }

            to {
                width: 155px;
            }
        }

        /*--- Cursor Animated ---*/
        @keyframes animated-cursor {
            from {
                border-right-color: var(--color-green);
            }

            to {
                border-right-color: transparent;
            }
        }

        .icons-social {
            font-size: $font-medium;
        }

    }

    .scroll-down {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        z-index: 1;

        .mouse-wrapper {
            color: $color-white;
            font-size: 14px;
            display: block;
            text-align: center;
            max-width: 100px;
            margin: auto;
            text-decoration: none;

            .mouse {
                border: 2px solid $color-white;
                border-radius: 16px;
                display: block;
                margin-top: 10px !important;
                height: 26px;
                position: relative;
                width: 20px;
                margin: auto;

                .wheel {
                    background: $color-white;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 5px;
                    width: 5px;
                    animation: any-mouse 2s linear infinite;
                }

                @-webkit-keyframes any-mouse {
                    0% {
                        top: 29%;
                    }

                    15% {
                        top: 50%;
                    }

                    50% {
                        top: 50%;
                    }

                    100% {
                        top: 29%;
                    }
                }

                @keyframes any-mouse {
                    0% {
                        top: 29%;
                    }

                    15% {
                        top: 50%;
                    }

                    50% {
                        top: 50%;
                    }

                    100% {
                        top: 29%;
                    }
                }
            }
        }
    }
}



#about {

    .short-description {
        text-align: justify;
        word-spacing: 1px;
        color: #5E5C7F;

        .quote {
            border-left: 5px solid black;
            padding-left: 5px;
        }
    }
}


#services {
    .services-box-yellow {
        background-color: $card-yellow;
        box-shadow: $shadow-yellow;
        -moz-box-shadow: $shadow-yellow;
        -webkit-box-shadown: $shadow-yellow;
    }

    .services-box-blue {
        background-color: $card-blue;
        box-shadow: $shadow-blue;
        -moz-box-shadow: $shadow-blue;
        -webkit-box-shadown: $shadow-blue;
    }
}

.item {
    min-height: 50px;
    position: relative;
    text-align: center;
    margin-top: 60px;

    .inner {
        text-align: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        i {
            font-size: 60px;
            cursor: pointer;
        }
    }
}


#experinces {
    .timeline {
        .name-experience {
            font-weight: 900;
            font-size: 24px;
            color: #000;
            padding-left: 50px;
        }

        .timeline-container {
            padding-left: 50px;
            margin-bottom: 50px;
            background-color: inherit;
            position: relative;
            width: 100%;


            .content {
                position: relative;

                .time {
                    color: #8B88B1;
                    font-size: 12px;
                }

                .title {
                    font-size: $font-medium;
                    margin: 10px 0 0 0;
                }
            }
        }

        span.line {
            position: absolute;
            width: 1px;
            background-color: $line;
            top: 30px;
            bottom: 30px;
            left: 54px;
        }

    }

    .timeline.exp .timeline-container {
        &::after {
            content: '💼';
            font-size: 24px;
            color: #FF4C60;
            position: absolute;
            background: white;
            left: -7px;
            top: 0px;
            z-index: 1;
        }
    }

    .timeline.edu .timeline-container {
        &::after {
            content: '📚';
            font-size: 24px;
            color: #FF4C60;
            position: absolute;
            background: white;
            left: -7px;
            top: 0px;
            z-index: 1;
        }
    }
}



#works {
    .card {
        .card-body {
            background-color: $background;
            border: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


#contact {
    .img-contact {
        max-width: 100px;
        max-height: 100px;
        padding: 10px 0;
    }
        a {
            color: $color-black;
        }
}

footer {
    background-color: $color-primary;
    padding: 20px 0;
    text-align: center;

    .copyright {
        color: #9C9AB3;
        font-size: $font-mini;
    }
}