---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import Marquee from '../components/Marquee.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portafolio">
	<Hero />

	<main class="-mt-16 relative z-10 m-auto p-4 w-[800px] max-w-cal">
		
		<ul role="list" class="grid gap-5 p-0 md:grid-cols-2">
			<Card
				href="https://mauricioyair.github.io/To-do/"
				title="To-do"
				body="En esta app puedes agregar tareas, marcarlas como completadas y eliminarlas.",	
				tech={["React"]}
			/>
			<Card
				href="https://github.com/mauricioyair/Netflix-clone"
				title="Netflix clone"
				body="Netflix clone se uso la api de rick and morty para mostrar los personajes.",
				tech={["React", "Tailwind"]}
			/>
			<Card
				href="https://github.com/mauricioyair/Shop-Woocommerce-App"
				title="Shop Woocommerce"
				body="App mobile que obtiene los productos de un sitio web de woocommerce.",
				tech={["React Native", "WordPress"]}
			/>
			<Card
				href="https://github.com/mauricioyair/CRUD-PHP-MYSQL"
				title="Crud"
				body="En esta app puedes crear, leer, actualizar y eliminar tareas y productos.",
				tech={["PHP", "MySQL"]}
			/>
		</ul>

		<Marquee />	
		<Footer />
	</main>
</Layout>
