---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-[1px] bg-[#23262d] bg-none bg-[length:400%] rounded-[8px] bg-center shadow-inset transition-all duration-700 ease-in-out hover:bg-[0] hover:bg-linear-gradient  link-card">
	<a href={href} class="w-full bg-[#1c1c1c] no-underline leading-6 p-6 rounded-[8px] opacity-80">
		<h2 class="m-0 text-xl">
			{title}			
		</h2>
		<p class="mt-2 mb-0">
			{body}
		</p>
	</a>
</li>