---
interface Props {
	title: string;
	body: string;
	href: string;
	tech: Array<string>;
}

const { href, title, body, tech } = Astro.props;
---

<li aria-label="card item" class="list-none flex items-stretch p-[1px] border-1 border-r border-t border-l border-b border-solid bg-color-light-extra dark:border-border-dark dark:bg-color-black-extra dark:bg-none bg-[length:400%] rounded-2xl bg-center shadow-inset transition-all duration-700 ease-in-out hover:bg-[0] hover:bg-linear-gradient group">
	<a href={href} class="w-full dark:bg-color-black-extra no-underline leading-6 p-6 rounded-2xl hover:opacity-80">
		<h2 class="mb-2 text-xl font-semibold group-hover:text-white">
			{title}			
		</h2>
		<p class="mb-3 group-hover:text-white">
			{body}
		</p>
		<div class="flex flex-wrap items-center gap-2">			
			{
				tech.map((item) => (
				<span class="truncate border-1 border-r border-t border-l border-b border-solid group-hover:bg-transparent group-hover:text-white bg-color-light-extra dark:border-border-dark dark:bg-color-black-extra px-2 py-1 text-xs rounded">{item}</span>
				))
			}
		</div>
	</a>
</li>