---
import Layout from '@/layouts/Layout.astro';


import HeroCV from '@/components/HeroCV.astro';
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import HardSkills from '@/components/HardSkills.astro';
import SoftSkills from '@/components/SoftSkills.astro';
import Languages from '@/components/Languages.astro';
import Certificates from '@/components/Certificates.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';

//Internalization
import { getI18N } from "../i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

---

<Layout title={i18n.seo.cvpage.title} description={i18n.seo.cvpage.description}>

	<main class="m-auto w-full p-4 md:p-12 md:w-[800px] max-w-cal">
		<HeroCV />
		<Experience />
		<Education />		
		<!-- <HardSkills /> -->
		<SoftSkills />
		<Languages />
    <Certificates />
	</main>
	<KeyboardManager />

</Layout>