---
import ReactIcon from '../images/ReactIcon.astro'
import TailwindIcon from '../images/TailwindIcon.astro'
import BootstrapIcon from '../images/BootstrapIcon.astro'
import WordpressIcon from '../images/WordpressIcon.astro'
import PhpIcon from '../images/PhpIcon.astro'
import FigmaIcon from '../images/FigmaIcon.astro'
import JavascriptIcon from '../images/JavascriptIcon.astro'
import HtmlIcon from '../images/HtmlIcon.astro'
import CssIcon from '../images/CssIcon.astro'
import MyslIcon from '../images/MysqlIcon.astro'
import NpmIcon from '../images/NpmIcon.astro'
---

<article class="flex items-center my-10 overflow-x-hidden">
  <div class="relative flex max-w-full overflow-hidden py-5 Marquees">
    <div class="flex w-max animate-marquee [--duration:60s] hover:[animation-play-state:paused] cursor-no-drop">
      
      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <ReactIcon />         
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <TailwindIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <BootstrapIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <WordpressIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <PhpIcon />               
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <FigmaIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <JavascriptIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <HtmlIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <CssIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <MyslIcon />
        </div>
      </div>

      <div class="h-full px-2.5">
        <div class="relative h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6 mt-auto flex items-center">   
          <NpmIcon />
        </div>
      </div>

    </div>
  </div>
</article>

<style>
  .Marquees{ 
    mask-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  }
</style>

