---
import ReactIcon from '../images/ReactIcon.astro'
import TailwindIcon from '../images/TailwindIcon.astro'
import BootstrapIcon from '../images/BootstrapIcon.astro'
import WordpressIcon from '../images/WordpressIcon.astro'
import PhpIcon from '../images/PhpIcon.astro'
import FigmaIcon from '../images/FigmaIcon.astro'
import JavascriptIcon from '../images/JavascriptIcon.astro'
import HtmlIcon from '../images/HtmlIcon.astro'
import CssIcon from '../images/CssIcon.astro'
import MyslIcon from '../images/MysqlIcon.astro'
import NpmIcon from '../images/NpmIcon.astro'
---

<article class="group flex items-start gap-4 Marquees" id="herramientas">
  <div class="flex items-center gap-4 max-w-full overflow-hidden select-none">
    <ul class="flex items-start justify-around gap-4 shrink-0 min-w-full animate-marquee cursor-no-drop group-hover:[animation-play-state:paused]">
      <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <ReactIcon />         
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <TailwindIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <BootstrapIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <WordpressIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <PhpIcon />               
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <FigmaIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <JavascriptIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <HtmlIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <CssIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <MyslIcon />
      </li>
      <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <NpmIcon />
      </li>
    </ul>

    <!-- Repeated Marquee -->
    <ul class="flex items-start justify-around gap-4 shrink-0 min-w-full animate-marquee cursor-no-drop group-hover:[animation-play-state:paused]">
      <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <ReactIcon />         
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <TailwindIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <BootstrapIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <WordpressIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <PhpIcon />               
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <FigmaIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <JavascriptIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <HtmlIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <CssIcon />
      </li>
        <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <MyslIcon />
      </li>
      <li class="h-full w-full rounded-2xl border bg-color-light-extra dark:bg-color-black-extra dark:border-border-dark px-8 py-6">   
          <NpmIcon />
      </li>
    </ul>
  </div>
</article>


<style>
  .Marquees{ 
    mask-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  }
</style>