---
//Internalization
import { getI18N } from "../i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="mb-7">
  <h2 class="mb-2 font-bold text-2xl">{i18n.labels.label_resumen}</h2>
  <p>{i18n.basics.summary}</p>
</section>