---
//Internalization
import { getI18N } from "../i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="mb-7">
  <h2 class="mb-2 font-bold text-2xl">{i18n.labels.label_soft_skills}</h2>
  <ul>
    {
      i18n.softskills.map(({ name }) => {        
        return (
          <li class="truncate border-1 border-r border-t border-l border-b border-solid group-hover:bg-transparent group-hover:text-white bg-color-light-extra dark:bg-color-black-extra px-2 py-1 text-xs rounded">
            <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;    
    font-size: 0.8rem;        
    padding: 0.2rem 0.6rem;
  }
</style>